<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>XD18510163661</key>
	<array>
		<dict>
			<key>title</key>
			<string>点我查看详细上传教程，做自己App的管理员，构建属于您的App</string>
			<key>imageName</key>
			<string>help</string>
			<key>detail</key>
			<string>1、准备好一张图片(越小越好)太大我们会帮您压缩的  2、填写好标题   3、填写好详细内容</string>
			<key>issuerDate</key>
			<string>2014-07-03</string>
			<key>issuer</key>
			<string>大闪</string>
		</dict>
		<dict>
			<key>title</key>
			<string>7月6号，吃心不改，我要好好请请伙计们，伙计们都来啊</string>
			<key>imageName</key>
			<string>chi</string>
			<key>detail</key>
			<string>哈哈哈和哈哈哈哈哈哈哈哈呵呵哈哈哈哈哈哈哈哈呵呵哈哈哈哈哈哈哈哈和呵呵哈哈哈哈哈哈哈哈呵呵哈哈哈哈哈哈哈哈呵呵哈哈哈哈哈哈哈哈</string>
			<key>issuerDate</key>
			<string>2014-07-03</string>
			<key>issuer</key>
			<string>孙贼</string>
		</dict>
		<dict>
			<key>title</key>
			<string>【战报】LPL夏季赛：Insec祭出盲僧无力回天皇族再负OMG</string>
			<key>imageName</key>
			<string>lol</string>
			<key>detail</key>
			<string>        下面是由OMG对阵皇族的比赛战报：OMG处于蓝色方，皇族处于紫色方。双方开具都选择换线，双方打野红Buff起手。4分30，Uzi上路在塔下利用锤石走位失误点了对方一下引爆毒素将其击杀拿下一血，OMG皇子随后再抓上路，Uzi被击杀，同时下路皇族贾克斯单杀了大哥的酒桶。</string>
			<key>issuerDate</key>
			<string>2014-07-04</string>
			<key>issuer</key>
			<string>煞笔非凡</string>
		</dict>
	</array>
</dict>
</plist>
